@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --colorGreen:       #8CD50B;
    --colorGreenTrans:  #8CD50B44;
    --colorDarkGreen:   #84C100;
    --colorBlue:        #008FD5;
    --colorDarkBlue:    #006999;
    --colorDarkGray:    #4C4D4E;
    --colorGray:        #999999;
    --colorMediumGray:  #DDDDDD;
    --colorLightGray:   #EEEEEE;
    --colorRed:         #D90000;
    --colorWhite:       #FFFFFF;
    --colorBlack:       #000000;
    --RGBcolorGreen:      140,213,11;
    --RGBcolorBlue:       0,143,213;
    --RGBcolorDarkGray:   76,77,78;
    --RGBcolorGray:       153,153,153;
    --RGBcolorLightGray:  238,238,238;
    --RGBcolorRed:        217,0,0;
    --RGBcolorWhite:      255,255,255;
    --RGBcolorBlack:      0,0,0;
}

*{
    -webkit-text-size-adjust: none;
}

.t.pointer{
    cursor:                     pointer;
}

.t.green{
    color:                      var(--colorGreen);
}
.t.darkGreen{
    color:                      var(--colorDarkGreen);
}
.t.blue{
    color:                      var(--colorBlue);
}
.t.darkBlue{
    color:                      var(--colorDarkBlue);
}
.t.gray{
    color:                      var(--colorGray);
}
.t.darkGray{
    color:                      var(--colorDarkGray);
}
.t.lightGray{
    color:                      var(--colorLightGray);
}
.t.red{
    color:                      var(--colorRed);
}
.t.white{
    color:                      var(--colorWhite);
}
.t.black{
    color:                      var(--colorBlack);
}

.t.bgGreen{
    background-color:           var(--colorGreen);
}
.t.bgBlue{
    background-color:           var(--colorBlue);
}
.t.bgGray{
    background-color:           var(--colorGray);
}
.t.bgDarkGray{
    background-color:           var(--colorDarkGray);
}
.t.bgLightGray{
    background-color:           var(--colorLightGray);
}
.t.bgRed{
    background-color:           var(--colorRed);
}
.t.bgWhite{
    background-color:           var(--colorWhite);
}
.t.bgBlack{
    background-color:           var(--colorBlack);
}

.t.bold{
    font-weight:                bolder;
}
.t.italic{
    font-style:                 italic;
}
.t.underline{
    text-decoration:            underline;
}
.t.right{
    text-align:                 right;
}
.t.center{
    text-align:                 center;
}
.t.justify{
    text-align:                 justify;
}
.t.small{
    font-size:                  12px;
}
.t.large{
    font-size:                  20px;
}
.t.uc{
    text-transform:             uppercase;
}
.t.lineBottom{
    border-bottom:              1px solid var(--colorLightGray);
}
.t.hoverUnderline:hover{
    text-decoration:            underline;
}

.mt10{
    margin-top:                 10px;
}
.mb10{
    margin-bottom:              10px;
}
.pt10{
    padding-top:                10px;
}
.pb10{
    padding-bottom:             10px;
}

.mt5{
    margin-top:                 5px;
}
.mb5{
    margin-bottom:              5px;
}
.mt10{
    margin-top:                 10px;
}
.mb10{
    margin-bottom:              10px;
}
.mt15{
    margin-top:                 15px;
}
.mb15{
    margin-bottom:              15px;
}
.mt20{
    margin-top:                 20px;
}
.mb20{
    margin-bottom:              20px;
}

.pt5{
    padding-top:                5px;
}
.pb5{
    padding-bottom:             5px;
}
.pl5{
    padding-left:               5px;
}
.pl10{
    padding-left:               10px;
}
.pl15{
    padding-left:               15px;
}

.pr5{
    padding-right:              5px;
}
.pr10{
    padding-right:              10px;
}
.pr15{
    padding-right:              15px;
}

.p5{
    padding:                    5px;
}
.p10{
    padding:                    10px;
}
.p15{
    padding:                    15px;
}

.lh150{
    line-height:                150%;
}

/* DEFAULT STYLES */
.glob_header{
    font-weight:                bolder !important;
    font-size:                  20px !important;
    padding-left:               5px !important;
    color:                      var(--colorGreen);
    text-transform:             uppercase !important;
}

.glob_line{
    display:                    block;
	height:                     1px;
	width:                      100%;
	background-color:           var(--colorGray);
}